/* ************** Base Structure ************** */

.app{
  /* position: relative; */
  text-align: center;
  font-family: "Gotu", "Open Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: #2B2D2F;
  /* display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center; */
}

a{
  text-decoration: none;
  color: #000000;
}

main{
  margin: 10% 0;
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}


/* ************** Components - NavBar ************** */

.nav,
.nav-li{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  list-style-type: none;
  padding: 10px;
  font-size: 25px;
}

/* ************** Components - Footer ************** */

footer{
  /* position: absolute; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.name, 
.citations,
.icons{
  padding: 15px;
} 

/* ************** Components - Welcome ************** */

.welcome-page{
  padding: 100px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 20px;
  
}

/* ************** Components - Dashboard ************** */

.dash{
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.title{
  margin: 40px;
}

.dash-affirm,
.dash-count,
.dash-pups{
  text-align: center;
  width: 210px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px #808080;
  margin: 20px;
  /* padding: 20px; */
}

.dash-affirm{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593904758/affirm-text_dlio75.png");
}

.dash-count{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593903769/count-text_zbjejm.png");
}

.dash-pups{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593904017/pup-text_k13f6m.png");
}

/* ************** All Components - InnerBody ************** */

.affirm,
.count,
.pups{
  position: relative;
  text-align: center;
  background-color: rgba(9,97,143, 1);
  border: 2px solid rgba(211, 211, 211, 0.2);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px #808080;
  list-style-type: none;
  padding: 30px;
}

.quote-text{
  margin: 10px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.count-text{
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.count-down{
  padding: 20px;
}
.count-list{
  font-size: 18px;
  color: #ffffff; 
  margin: 6px;
  list-style-type: none;
  text-align: center;
  font-style: italic;
}


.pupImg{
  width: 100%;
  height: 600px;
  margin: 10px;
}

.return-text{
  margin: 10px 30px;
  color: #ffffff;
  text-align: center;
  bottom: 0;
  left: 100px;
  right: 100px;
  position: absolute;
  text-decoration: underline;
}

/* ************** Components - Buttons ************** */

.welcome-button{
  font-family: "Gotu", "Open Sans", sans-serif;
  margin: 100px;
  padding: 6px 30px; 
  border-radius: 6px;
}

.affirm-button,
.pups-button{
  bottom: 30px;
  left: 100px;
  right: 100px;
  font-family: "Gotu", "Open Sans", sans-serif;
  margin: 10px 50px;
  padding: 10px;
  border-radius: 6px;
}

