/* ----------------------- Base Structure -----------------------  */
body{
  margin: 0;
}

.app{
  text-align: center;
  font-family: "Gotu", "Open Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: #000000;
}

h1 {
  font-family: "Gotu", "Open Sans", sans-serif;
  display: block;
  font-size: 60px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #2B2D2F;
}

a{
  text-decoration: none;
  color: #2B2D2F;
}

main{
  margin: 8% 0;
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}


/* ----------------------- Components - NavBar -----------------------  */

.nav,
.nav-li{
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  list-style-type: none;
  padding: 10px;
  font-size: 25px;
}

/* ----------------------- Components - Footer -----------------------  */

footer{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.name, 
.citations,
.icons{
  padding: 15px;
} 

/* ----------------------- Components - Welcome -----------------------  */

.welcome-page{
  padding: 50px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 20px;
  color: #2B2D2F;
  
}

/* ----------------------- Components - Dashboard -----------------------  */

.dash{
  text-align: center;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}


.dash-affirm,
.dash-count,
.dash-pups{
  text-align: center;
  width: 220px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px #808080;
  margin: 15px;
}

.dash-affirm{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593904758/affirm-text_dlio75.png");
}

.dash-count{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593903769/count-text_zbjejm.png");
}

.dash-pups{
  background-image: url("https://res.cloudinary.com/zumariposa/image/upload/v1593904017/pup-text_k13f6m.png");
}

/* ----------------------- Components - InnerBody -----------------------  */

.affirm,
.count,
.pups{
  color: rgb(9,97,143);
  position: relative;
  text-align: center;
  background-color: rgba(255,255,255, 0.7);
  border: 6px solid rgba(9,97,143, 0.6);
  border-radius: 8px;
  box-shadow: 5px 5px 20px 5px #808080;
  list-style-type: none;
  padding: 30px;
}

.quote-text{
  margin: 10px;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  color: rgb(9,97,143);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.count-text{
  margin: 5px;
  padding: 0px;
  font-size: 20px;
  text-align: center;
  color: rgb(9,97,143);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.count-down{
  padding: 20px;
}
.count-list{
  font-size: 18px;
  color: rgb(9,97,143);
  margin: 6px;
  list-style-type: none;
  text-align: center;
  font-style: italic;
}

.pupImg{
  width: 100%;
  height: 600px;
  margin: 10px;
}

h5{
  margin:0;
  color: rgb(9,97,143);
  text-align: center;
  left: 100px;
  right: 100px;
  text-decoration: underline;
}


/* ----------------------- Components - Buttons -----------------------  */

.welcome-button{
  font-family: "Gotu", "Open Sans", sans-serif;
  margin: 60px;
  padding: 6px 20px; 
  border-radius: 6px;
  font-size: 15px;
}

.affirm-button,
.pups-button{
  left: 100px;
  right: 100px;
  font-family: "Gotu", "Open Sans", sans-serif;
  margin: 10px 20px;
  padding: 6px;
  border-radius: 5px;
}

/* ----------------------- Media Queries  -----------------------  */
/* ----------------------- Base Structure -----------------------  */
@media only screen and (min-width: 320px) and (max-width: 767px){

.app{
  text-align: center;
  font-family: "Gotu", "Open Sans", sans-serif;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  color: #000000;
}

a{
  text-decoration: none;
  color: #2B2D2F;
}

h1{
  font-size: 40px;
}

/* ----------------------- Components - NavBar -----------------------  */

.nav,
.nav-li{
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

/* ----------------------- Components - Footer -----------------------  */

footer{
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.icons{
  width: 20px;
  height: 20px;
}

/* ----------------------- Components - Containers -----------------------  */

.dash{
  width: 100%;
  text-align: center;
  display:flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.welcome-page{
  padding: 30px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  font-size: 20px;
  color: #2B2D2F;
  
}

/* ----------------------- Components - InnerBody -----------------------  */

.affirm,
.count,
.pups{
  margin: 20px;
  text-align: center;
  list-style-type: none;
  padding: 20px;
}

.quote-text{
  font-size: 20px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.pupImg{
  text-align: center;
  width: 100%;
  height: 300px;
  margin: 6px;
}


/* ----------------------- Components - Buttons -----------------------  */

.welcome-button{
  font-family: "Gotu", "Open Sans", sans-serif;
  margin: 40px;
  padding: 6px 20px; 
  border-radius: 6px;
  font-size: 15px;
}
}

/* ----------------------- Media Queries  - Tablet -----------------------  */
@media only screen and (min-width: 768px) and (max-width: 1024px){

  .app{
    text-align: center;
    font-family: "Gotu", "Open Sans", sans-serif;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: #000000;
  }
  
  a{
    text-decoration: none;
    color: #2B2D2F;
  }
  
  h1{
    font-size: 40px;
  }
  
  /* ----------------------- Components - NavBar -----------------------  */
  
  .nav,
  .nav-li{
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* ----------------------- Components - Footer -----------------------  */
  
  footer{
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
  }
  
  .icons{
    width: 20px;
    height: 20px;
  }
  
  /* ----------------------- Components - Containers -----------------------  */
  
  .dash{
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 auto;
  }

  .dash-affirm,
  .dash-count,
  .dash-pups{
    text-align: center;
    width: 220px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 5px 5px 20px 5px #808080;
    margin: 15px;
}
  
  .welcome-page{
    padding: 30px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    font-size: 20px;
    color: #2B2D2F;
    
  }
  
  /* ----------------------- Components - InnerBody -----------------------  */
  
  .affirm,
  .count,
  .pups{
    margin: 20px;
    text-align: center;
    list-style-type: none;
    padding: 20px;
  }
  
  .quote-text{
    font-size: 20px;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }
  
  .pupImg{
    text-align: center;
    width: 100%;
    height: 400px;
    margin: 6px;
  }
  
  
  /* ----------------------- Components - Buttons -----------------------  */
  
  .welcome-button{
    font-family: "Gotu", "Open Sans", sans-serif;
    margin: 40px;
    padding: 6px 20px; 
    border-radius: 6px;
    font-size: 15px;
  }

}

/* ----------------------- Media Queries  - Laptops + Desktops -----------------------  */
@media only screen and (min-width: 1025px) and (max-width: 2500px){

  .pupImg{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 6px;
  }


}